* {
  font-family: 'Indie Flower', cursive;
}

body {
  height: 100vh;
  margin: 0px;
  display: flex;


}

/* Center */

main {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-start; */

}


/* Game Board */

h1 {
  margin: .75em;
  font-size: 4rem;
  display: flex;
  justify-content: center;
}

.player-turn-icon {
  height: 85%;
  width: 11%;
  margin-left: 2.5%;
}

.game-board {
  height: 70%;
  width: 75%;
}

.buttons {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

}

button {
  height: 33.33%;
  width: 33.33%;
  border-width: thick;
}

.btn-1,
.btn-2,
.btn-3 {
  height: 33.34%;
}

.btn-1,
.btn-4,
.btn-7 {
  width: 33.34%;
}

.btn-1 {
  background-color: #6371AF;
}

.btn-2 {
   background-color: #D48452;
}

.btn-3 {
   background-color: #7A6FA6;
}

.btn-4 {
  background-color: #CF5EB0;
}

.btn-5 {
  background-color: #6D9970;

}

.btn-6 {
  background-color: #C2993B;
}

.btn-7 {
  background-color: #5A8CB6;
}

.btn-8 {
  background-color: #8391CD;
}

.btn-9 {
  background-color: #B84149;
}

/* Player Tallies */

.player-one,
.player-two {
  width: 25%;
  /* display: flex;
  /* flex-direction: column; */
}

.player-one {
  background-color: #6E9970;
}

.player-two {
  background-color: #6371AF;
}

img {
  height: 15%;
  width: 15%;
  align-self: center;
}

p {
  align-self: center;
  margin: 0%;
}

h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 3em;
}

.game-board-piece {
  height: 60%;
  width: 60%;
}
