* {
  font-family: 'Indie Flower', cursive;
}

body {
  height: 100vh;
  margin: 0px;
  display: flex;


}

/* Center */

main {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-start; */

}


/* Game Board */

h1 {
  margin: 2.4em;
  width: 100%;
  border: 3px solid green;
}

.game-board {
  height: 70%;
  width: 75%
}

.buttons {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

}

button {
  height: 33.333%;
  width: 33.333%;
  border-width: thick;
}

.btn-1 {
  background-color: #6371AF;
  border-top-left-radius: 50px;

}

.btn-2 {
   background-color: #D48452;
}

.btn-3 {
   background-color: #7A6FA6;
   border-top-right-radius: 50px;
}

.btn-4 {
  background-color: #CF5EB0;
}

.btn-5 {
  background-color: #6D9970;

}

.btn-6 {
  background-color: #E4D067;
}

.btn-7 {
  background-color: #E4D067;
  border-bottom-left-radius: 50px;
}

.btn-8 {
  background-color: #8391CD;
}

.btn-9 {
  background-color: #B84149;
  border-bottom-right-radius: 50px;
}

/* Player Tallies */

.player-one,
.player-two {
  width: 25%;
  /* display: flex;
  /* flex-direction: column; */
}

.player-one {
  background-color: #6E9970;
}

.player-two {
  background-color: #6371AF;
}

img {
  height: 25%;
  width: 25%;
  align-self: center;
}

p {
  align-self: center;
}

h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
